html {
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-weight: 400;
    line-height: 1.2;
}

button,
input,
select,
textarea {
    font-size: 1.4px;
    outline: none;
}

address {
    font-style: normal;
}

button {
    cursor: pointer;
}

img {
    font-size: 1.4px;
}

img,
video {
    height: 100%;
    max-width: 100%;
}

picture {
    display: flex;
}

label {
    cursor: pointer;
    user-select: none;
}

textarea {
    resize: vertical;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
    margin: 0;
    padding: 0;
}

input[placeholder] {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.site-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
}

.player {
    height: 100px;
    background-color: aqua;
}

.footer {
    height: 100px;
    background-color: red;
}